

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    /* font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; */
    font-family: 'Google Sans', sans-serif;
    line-height: 1.5;
    background-color: #0099ff;
    color: #333;
  }
  
  .addprof-container {
    max-width: 500px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .addprof-container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .addprof-container form {
    display: flex;
    flex-direction: column;
  }
  
  .addprof-container label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .addprof-container input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #gender_dropdown{
    padding: 0.5rem;
    
  }
  
  .Login-doc-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .Login-doc-button:hover {
    background-color: #fff;
  }
  
  .Login-doc-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .Login-doc-button {
      min-width: 120px;
      padding: 0 25px;
    }
  }  